<!DOCTYPE html>
<html>
  <head>
    <title>tk_app</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
		<div class="header-logo">
			<%= link_to 'Tweet App', '/' %>
		</div>
		<div class="header-menus">
		  <li><%= link_to 'About', '/about' %></li>
  	  <li><%= link_to 'Posts', '/posts/index' %></li>
			<li><%= link_to 'New Tweet', '/posts/new' %></li>
		</div>
  </header>
  <body>
		<% if flash[:notice] %>
			<div class="flash">
				<%= flash[:notice] %>
			</div>
		<% end %>

    <%= yield %>
  </body>
</html>
